<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        {% load bootstrap4 %}
    </head>
    <body>
        <div class="navbar navbar-dark bg-dark">
            <ul class="nav">
                <li class="nav-item">
                    <h4>
                        <a class="nav-link active" href="/">Home Page</a>
                    </h4>
                </li>
            </ul>
        </div>
    <div class="container">
        <div class="card card-image" style="background-image: url(https://i.ytimg.com/vi/YqdsLz6Or74/maxresdefault.jpg);">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                    <h3 class="card-title pt-2"><strong>2007: Die Maschinen Kontrollieren Uns</strong></h3>
                    <h3 class="card-title pt-2"><strong>2008: Mein Wahres Ich</strong></h3>
                    <h3 class="card-title pt-2"><strong>2010: My Name Is</strong></h3>
                    <h4 class="card-title pt-2"><strong>2011: My Name Is – The Remixes</strong></h4>
                    <h5 class="card-title pt-2"><strong>2013: Feuerfalter – Part01</strong></h5>
                    <h5 class="card-title pt-2"><strong>2014: Feuerfalter – Part02</strong></h5>
                    <h6 class="card-title pt-2"><strong>2014: Feuerfalter – Special Edition</strong></h6>
                    <h6 class="card-title pt-2"><strong>2016: 22</strong></h6>
                    <h6 class="card-title pt-2"><strong>2016: Dj Mixes Single Tracks</strong></h6>
                    <h6 class="card-title pt-2"><strong>2020: Space Dive</strong></h6>
                </div>
            </div>
        </div>
            <form class="form-horizontal" method="post">{% csrf_token %}
                {% bootstrap_form edit_form %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </body>
</html>
